<div class="position-relative overflow-hidden p-5 p-md-5 m-md-3 bg-light">
  <div class="col-md-50 p-lg-5 mx-auto my-5 bg-custom-login">

<p style="color: green"><%= notice %></p>

<div class="container">
<h1>Zápisky ze sezení</h1>

<p>V této části najdete všechny zápisy z klientských sezení.</p>
<p class="entries text-end"> <%= link_to "Vytvořit nový zápis", new_entry_path, class: "btn btn-warning" %> <br></p>


<div id="entries">
  <% @entries.each do |entry| %>
    <%= render entry %>
    <p class="entries text-end">
      <%= link_to "Otevřít zápis", entry, class: "btn btn-success" %>
    </p>
  <% end %>
</div>
</div>


  </div>
</div>