<div class="container">
<br>
<h1>Nový zápis ze sezení</h1>
<br>
<%= render "form", entry: @entry %>

<br>

<div class="text-end">
  <%= link_to "Zpět na všechny zápisy", entries_path, class: "btn btn-warning" %>
</div>
</div>