<div class="container">
<br>
<h1>O aplikaci CoachOnline</h1>
<br>
<p>Aplikace byla vytvořená jako demo pro ukázku práce s Ruby on Rails.</p>
<h4><b>Ing. Veronika Ježíková</b></h4>
jezikova.v@email.cz<br>
+420 774 565 113<br>
Spojová 263, Jílové, 407 01<br><br>

Jít na <%= link_to "GitHub profil", "https://github.com/jeveronika/", :target => "_blank", class: "main-link" %>
<br>
Jít na <%= link_to "LinkedIn profil", "https://www.linkedin.com/in/veronika-je%C5%BE%C3%ADkov%C3%A1-1b2a09181/", :target => "_blank", class: "main-link" %>



<br><br>
</div>