<footer class="container py-5">
<div class="container">
  <div class="row">
    <div class="col">
      <p class="text-center">
      <%= mail_to "jezikova.v@email.cz", class: "footer-link" %>
      </p>
    </div>
    <div class="col order-5">
    <p class="text-center">
    <%= link_to "GitHub profil", "https://github.com/jeveronika/", :target => "_blank", class: "footer-link" %>
    </p>
      
    </div>
    <div class="col order-1">
      <p class="text-center footer-text">Ing. Veronika Ježíková</p>
    </div>
  </div>
</div>
   
    
  </div>
</footer>

